<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cadenaConexion"
         connectionString="Server=PAPI-RYZEN3\SQLEXPRESS;Database=Trabajo_Final_Test;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
