<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cadenaConexion"
         connectionString="Server=localhost\SQLEXPRESS;Database=DarioZubaray_TF_Test;Integrated Security=True;Encrypt=False;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
